/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* Sets buttons bakcground as transparent and no border with pointer cursor */ 
button{
    background-color: rgb(54, 25, 25, .00004);
    border: none;
    cursor: pointer;
}
/* --------------------------------------- End of Reset -------------------------------------------- */

/* Custom CSS properties for reusable colours */ 
:root{
    --dark-grey: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --very-dark-grey: hsl(0, 0%, 27%);
}
body{
    font-family: 'League Spartan';
}

/* Main background image / hero image for mobile */
button{
    background-image: url("images/icon-hamburger.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
}
/* Sets the main hero image as nav background image */ 
nav{
    background-image: url("images/mobile-image-hero-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 45vh;
}

/* Targets main 'room' logo */ 
img[src="images/logo.svg"]{
    height: 1rem;
}
/* Sets menu items as hidden for hamburger toggle */ 
nav ul{
    display: none;
}
/* Make a class to switch to in my JS function */ 
.visible{
    display: flex;
}

.hamburger-on-click{
    background-color: white;
}

#hamburger-toggle-ul{
    background-color: purple;
}

.flex-container{
    display: flex;
}
/* Targets the main nav flexbox */ 
#nav-flexbox-container {
    align-items: center;
    justify-content: center;
    height: 7rem;
    gap: 1rem;
}

.nav-flexbox-item:nth-child(1){
    flex-grow: 1;
}
.nav-flexbox-item:nth-child(2){
    flex-grow: 3;
}
.nav-flexbox-item:nth-child(3){
    flex-basis: 0;
}

ul li{
    text-transform: lowercase;
    font-weight: 600;
}

/* Frontend Mentor attribution styling */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }




